---
import { Icon } from 'astro-icon'
---

<ul class="sns">
  <li>
    <a
      href="https://twitter.com/ekzm1964"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon
        name="mdi:twitter"
        role="img"
        aria-label="Twitter"
        width="24px"
        height="24px"
      />
    </a>
  </li>
  <li>
    <a
      href="https://www.facebook.com/ekzm.jp"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon
        name="mdi:facebook"
        role="img"
        aria-label="Facebook"
        width="24px"
        height="24px"
      />
    </a>
  </li>
</ul>

<style lang="scss">
  .sns {
    display: flex;
    gap: 1em;
    align-items: center;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
</style>
