<ul class="sns">
  <li>
    <a
      href="https://twitter.com/ekzm1964"
      target="_blank"
      rel="noopener noreferrer">X</a
    >
  </li>
  <li>
    <a
      href="https://www.facebook.com/ekzm.jp"
      target="_blank"
      rel="noopener noreferrer">Facebook</a
    >
  </li>
</ul>

<style lang="scss">
  .sns {
    display: flex;
    gap: 1em;
    align-items: center;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
</style>
