---
import HeaderGlobalNav from '@/components/Header/HeaderGlobalNav.astro'
import HeaderSns from '@/components/Header/HeaderSns.astro'
---

<header class="header">
  <div class="inner">
    <h1 class="ci"><a href="/">Astro Sample Site</a></h1>
    <HeaderGlobalNav />
    <HeaderSns />
  </div>
</header>

<style lang="scss">
  .header {
    max-width: 1536px;
    padding: 0 2rem;
    margin: auto;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }

  .ci {
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 2.25rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
</style>
